.nav {
    background-color: #303030;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 3rem;
    align-items: center;
}


.nav a {
    color: #fff;
    text-decoration: none;
}

.nav a.active {
    text-decoration: underline;
}

.sub-nav {
    background-color:  #FAFAFA;
}